@model Companies

<div class="card shadow border-0 my-4">
    <div class="card-header  bg-secondary bg-gradient py-3 ">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary"> @(Model.Id != 0 ? "Update" : "Create") Company</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
           @*  <input  asp-for="product.ImageUrl" hidden/> *@
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Name" class="form-control shadow border-0" />
                            <label asp-for="Name" class="ms-2"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                      
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Address" class="form-control border-0 shadow" />
                            <label asp-for="Address" class="ms-2"></label>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="City" class="form-control border-0 shadow" />
                            <label asp-for="City" class="ms-2"></label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="State" class="form-control border-0 shadow" />
                            <label asp-for="State" class="ms-2"></label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="PostalCode" class="form-control border-0 shadow" />
                            <label asp-for="PostalCode" class="ms-2"></label>
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="PhoneNumber" class="form-control border-0 shadow" />
                            <label asp-for="PhoneNumber" class="ms-2"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>


                       @*  <div class="form-floating py-2 col-12">
                            <input asp-for="product.Price50" class="form-control border-0 shadow" />
                            <label asp-for="product.Price50" class="ms-2"></label>
                            <span asp-validation-for="product.Price50" class="text-danger"></span>
                        </div> *@

                        @* <div class="form-floating py-2 col-12">
                            <input asp-for="product.Price100" class="form-control border-0 shadow" />
                            <label asp-for="product.Price100" class="ms-2"></label>
                            <span asp-validation-for="product.Price100" class="text-danger"></span>
                        </div> *@

                      @*   <div class="form-floating py-2 col-12"> *@
                            @* <input asp-for="product.ImageUrl" class="form-control border-0 shadow" /> *@
                            @* <input type="file" name="file" class="form-control border-0 shadow" />
                            <label asp-for="product.ImageUrl" class="ms-2"></label>
                            <span asp-validation-for="product.ImageUrl" class="text-danger"></span> *@
                      @*   </div> *@

                      @*   <div class="form-floating py-2 col-12"> *@
                            @*  <Select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select border-0 shadow"> *@
                          @*   <Select asp-for="@Model.product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option selected disabled>--Select Category--</option>

                            </Select> *@
                           @*  <label asp-for="product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="product.CategoryId" class="text-danger"></span> *@
                        @* </div> *@
                    </div>

                    <div class="row ">
                        <div class="col-6 col-md-3">

                            @if (Model.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary form-control"> Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control"> Create</button>
                            }


                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Comapny" asp-action="Index" class="btn btn-outline-primary border form-control">
                                Go back
                            </a>
                        </div>
                    </div>

                </div>
                @* <div class="col-2">
                    <img  src="@Model.product.ImageUrl" width="100%" 
                    style="border-radius:5px; border:1px solid #bbb9b9"/>
                </div> *@
            </div>
           
        </form>
    </div>
</div>

@section scripts{
   @*  <script>
        tinymce.init({
          selector: 'textarea',
          plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until Jun 22, 2025:
            'checklist', 'mediaembed', 'casechange', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
          ],
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link     table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent  ',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script> *@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
